# Ignore everything by default
*
!.gitignore
!README.md

# GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml

# Don't ignore directories (so we can traverse into them)
!*/

# Ignore all of app except custom theme and plugins
/app/*
!app/public/
/app/public/*
!app/public/wp-content/
/app/public/wp-content/*

# Theme
!app/public/wp-content/themes/
/app/public/wp-content/themes/*
!app/public/wp-content/themes/BellasKitchenTheme/
!/app/public/wp-content/themes/BellasKitchenTheme/**

# Custom plugins
!app/public/wp-content/plugins/
/app/public/wp-content/plugins/*
!app/public/wp-content/plugins/bellas-kitchen-recipes/
!/app/public/wp-content/plugins/bellas-kitchen-recipes/**
!app/public/wp-content/plugins/bellas-kitchen-recepten/
!/app/public/wp-content/plugins/bellas-kitchen-recepten/**

# OS / misc
.DS_Store
node_modules/
.env

# WP Local
/conf/
/logs/
